:root {
    --dark: #294c49;
    --keppel: #46b5a4;
    --gray: #7f867e;
    --lightGreen: #acba9e;
    --light: #f8f7f9;
}

* {
    color: var(--light);
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Background Colors */
.backgroundDark{
    background-color: var(--dark);
}

.backgroundKeppel {
    background-color: var(--keppel);
}

.backgroundGray {
    background-color: var(--gray);
}

.backgroundLightGreen {
    background-color: var(--lightGreen);
}

.backgroundLight {
    background-color: var(--light);
}

/* Text Colors */
.textDark {
    color: var(--dark);
}

.textLight {
    color: var(--light);
}

/* Border Colors */
.borderDark {
    border: solid 2px var(--dark)
}

.borderGray {
    border: solid 2px var(--gray);
}

.borderLightGreen {
    border: solid 2px var(--lightGreen);
}

/* Top Search Section Additional Styles */
.heroStyle {
    border-bottom: solid 8px var(--gray);
}

.flexWrap {
    flex-wrap: wrap;
}

/* Exchange Rate Tile Styling */
.inputWidth {
    width: 100px;
}

/* Footer Styles */
.footerBorder {
    border-top: solid 8px var(--gray);
}


/* this controls the search option*/
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border:  2px solid #00B4CC;
    border-right: none;
    padding: 16px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 50px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
  }
/*/
  .dropdown {
    position: absolute;
    top: 35%;
    left: 35%;
    
}
/*controls the 3 boxes for destinations*/




.suggestion {
    height: 400px;
    width: 500px;
    display: block;
    margin: auto;
    
       
    
}


#suggestion1 {
   background-size: 100% 100%;
   height: 500px;    

 }

 #suggestion2 {
    background-size: 100% 100%;
    height: 500px;  
 }

 #suggestion3 {
    background-size: 100% 100%;
    height: 500px;  
 }

 #suggestion4 {
    background-size: 100% 100%;
    height: 500px;  
 }


.backgroundCover {
    background-size: cover;
    /* background-position-y: center; */
    /* background-repeat: no-repeat; */
}


.footerSearch {
    background-color: #294c49;
    height: 100px;
    width: 100%;
    bottom: 0%;
    margin: auto;
    position: fixed;        
}


